.home-container{
    height: 100%;
    max-width: 500px;
    width: 100%;
    overflow: hidden;
}

.home-cities{
    max-width: 500px;
    width: 100%;
    height: 160px;
    position: absolute;
    overflow: hidden;
}

.background-img{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.377);
}

.home-cities img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.select{
    position: absolute;
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.select button{
    border: none;
    padding: 9px 15px;
    background-color: #1B6980;
    color: white;
    font-size: 14px;
    font-weight: 500;
    border-radius: 5px;
}

.home-content{
    max-width: 500px;
    width: 100%;
    height: calc(100% - 170px);
    border-radius: 35px;
    background-color: #ffffff;
    margin-top: 130px;
    position: absolute;
    box-shadow: 0px 1px 56px -8px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 1px 56px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 56px -8px rgba(0,0,0,0.75);
    padding: 28px 22px;
    box-sizing: border-box;
}

.home-content h3{
    margin: 0 10px;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
}

.home-search{
    width: 100%;
    margin-top: 20px;
    background-color: #F1F2F6;
    height: 39px;
    border-radius: 8px;
    box-sizing: border-box;
    display: flex;
    padding: 0 5px;
}

.home-search input{
    width: 100%;
    background-color: #F1F2F6;
    border: none;
    height: 100%;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 0 5px 0 13px;
}

.home-search input::placeholder{
    font-weight: 600;
    color: #aaabae;
}

.home-search input:focus{
    outline: none;
    font-weight: 600;
}

.search-icon-button{
    min-height: 39px;
    min-width: 39px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: #F1F2F6;
    border-radius: 8px;
    cursor: pointer;
}

.buttons-div{
    display: flex;
    justify-content: center;
    max-width: 500px;
    overflow-x: scroll;
    gap: 12px;
}

.buttons-div::-webkit-scrollbar {
    width: 0;
}
  
.buttons-div::-webkit-scrollbar-track {
    background-color: transparent;
}
  
.buttons-div::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.modal-container{
    max-width: 500px;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.39);
}

.modal-background{
    max-width: 500px;
    width: 100%;
    height: 65%;

}

.modal-content{
    background-color: white;
    width: 100%;
    height: 35%;
    overflow: auto;
    box-sizing: border-box;
    border-radius: 24px 24px 0 0;
    box-shadow: 0px 1px 20px -8px rgba(0, 0, 0, 0.301);
    -webkit-box-shadow: 0px 1px 20px -8px rgba(0, 0, 0, 0.301);
    -moz-box-shadow: 0px 1px 20px -8px rgba(0, 0, 0, 0.301);
    text-align: center;
    padding: 5px 25px;
}

.modal-content button{
    background-color: transparent;
    width: 100%;
    height: 55px;
    border: none;
    border-bottom: 0.5px solid rgb(201, 201, 201);
    font-size: 13.5px;
    font-weight: 500;
}

.button-city-div:last-child button{
    border-bottom: none;
}
  
@media (max-width: 434px){
    .buttons-div{
        justify-content: left;
    }
}

#posts-div{
    margin-top: 20px;
    overflow: auto;
}