.button-div{
    width: auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
    transition: .2s;
}

.button-div div{
    height: 50px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s;
}

.button-div-active{
    width: 90px;
    transition: .2s;
}

.button-div-desactive{
    width: 50px;
    transition: .2s;
}

.button-div p{
    font-size: 10px;
    font-weight: 600;
    line-height: 13px;
    margin: 0;
    margin-top: 8px;
}